<!-- Launch in the camera namespace containing "image_raw" and "camera_info" -->
<launch>

  <arg name="manager" default="firefly/vi_sensor"/> <!-- Must be globally qualified -->
  <arg name="respawn" default="false" />
  <arg name="mav_name" default="firefly" />
  <!--arg name="left" default="left" /-->
  <!--arg name="right" default="right" /-->
  <arg name="left" default="$(arg mav_name)/vi_sensor/left" />
  <arg name="right" default="$(arg mav_name)/vi_sensor/right" />
  <!-- TODO Arguments for sync policy, etc? -->
  <!--node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen" ns="firefly/vi_sensor" /-->
  <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" ns="firefly/vi_sensor" />


  <arg     if="$(arg respawn)" name="bond" value="" />
  <arg unless="$(arg respawn)" name="bond" value="--no-bond" />

  <!-- Basic processing for left camera -->
  <include file="$(find image_proc)/launch/image_proc.launch"
	   ns="$(arg left)">
    <arg name="manager" value="$(arg manager)" />
    <arg name="respawn" value="$(arg respawn)" />
  </include>

  <!-- Basic processing for right camera -->
  <include file="$(find image_proc)/launch/image_proc.launch"
	   ns="$(arg right)">
    <arg name="manager" value="$(arg manager)" />
    <arg name="respawn" value="$(arg respawn)" />
  </include>

  <!-- Disparity image -->
  <node pkg="nodelet" type="nodelet" name="disparity"
        args="load stereo_image_proc/disparity $(arg manager) $(arg bond)"
	respawn="$(arg respawn)" />

  <!-- PointCloud2 -->
  <node pkg="nodelet" type="nodelet" name="point_cloud2"
        args="load stereo_image_proc/point_cloud2 $(arg manager) $(arg bond)"
	respawn="$(arg respawn)" />

  <!-- Publish fake laser messages-->
  <!--include file="$(find zephyr_navigation)/launch/zephyr_pc_scan.launch"/-->

</launch>
