<launch>

  <!-- fovis_ros -->
  <node pkg="fovis_ros" type="fovis_mono_depth_odometer" name="mono_depth_odometer">
    <param name="base_link_frame_id" value="firefly/base_link"/>
    <param name="odom_frame_id" value="world"/>
    <param name="publish_tf" value="false"/>
    <remap from="/camera/rgb/image_rect" to="/firefly/kinect_camera/rgb/image_raw" />
    <remap from="/camera/rgb/camera_info" to="/firefly/kinect_camera/rgb/camera_info" />
    <remap from="/camera/depth_registered/image_rect" to="/firefly/kinect_camera/depth/image_raw" />
    <remap from="/camera/depth_registered/camera_info" to="/firefly/kinect_camera/depth/camera_info" />
  </node>

</launch>